# this is the root config, ignore config files in parent directories
config.stopBubbling = true

# prevent "package javax.annotation does not exist" errors
lombok.addGeneratedAnnotation = false

# prevent "error: cannot find symbol class ConstructorProperties"
lombok.anyConstructor.suppressConstructorProperties = true