<?xml version="1.0" encoding="utf-8"?>
<!--
  ~     PowerSwitch by Max Rosin & Markus Ressel
  ~     Copyright (C) 2015  Markus Ressel
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.power_switch">

    <uses-feature android:name="android.hardware.type.watch"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="eu.power_switch.application.PowerSwitchWear"
        android:allowBackup="true"
        android:icon="@drawable/wearable_ic_launcher"
        android:label="@string/powerswitch_app_name">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>

        <activity
            android:name="eu.power_switch.gui.activity.MainActivity"
            android:label="@string/powerswitch_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".gui.activity.ValueSelectorActivity"/>
        <activity android:name="android.support.wearable.activity.ConfirmationActivity"/>
        <activity android:name=".gui.animation.ConfirmationActivityClone"/>

        <service android:name="eu.power_switch.network.service.ListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>

                <data
                    android:host="*"
                    android:scheme="wear"/>
            </intent-filter>
        </service>
        <service android:name=".network.service.UtilityService">
            <!-- <intent-filter> -->
            <!-- <action android:name="eu.power_switch.wear.UPDATE_DATA"/> -->
            <!-- </intent-filter> -->
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dde27fb8b9771295016a742c2b00fbe8f4525765"/>

    </application>

</manifest>