<?xml version="1.0" encoding="utf-8"?>
<!--
  ~     PowerSwitch by Max Rosin & Markus Ressel
  ~     Copyright (C) 2015  Markus Ressel
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    package="eu.power_switch"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="88"
    android:versionName="@string/app_version">

    <!-- Smartphone ONLY Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <!-- IMPLICIT THROUGH PLAY SERVICES -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->

    <!-- Shared Permissions -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Wear ONLY Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.PowerSwitch"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/powerswitch_app_name">

        <!-- Activities -->
        <activity
            android:name=".gui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/powerswitch_app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.dialog.UnknownErrorDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/unknown_error"
            android:noHistory="true"
            android:process=":UnknownErrorDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="eu.power_switch.unknown_error_activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.activity.ConfigureReceiverWidgetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_configure_widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.activity.ConfigureRoomWidgetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_configure_widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.activity.ConfigureSceneWidgetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_configure_widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!--
             This is the "edit" Activity. Note that Locale will reject plug-in Activities for the following reasons:
                 - Missing "android:label=[...]"
                 - Missing "android:icon=[...]"
                 - The Activity isn't exported (e.g. android:exported="false")
                 - The Activity isn't enabled (e.g. android:enabled="false")
                 - The Activity requires permissions not available to Locale
        -->
        <activity
            android:name=".api.taskerplugin.EditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/powerswitch_plugin_name"
            android:theme="@style/PowerSwitchTheme.Tasker.Dark.Blue"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
            </intent-filter>
        </activity>

        <!-- Receiver -->
        <receiver
            android:name=".widget.provider.ReceiverWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/receiver_widget_info"/>
        </receiver>
        <receiver
            android:name=".widget.provider.RoomWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/room">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/room_widget_info"/>
        </receiver>
        <receiver
            android:name=".widget.provider.SceneWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/scene">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scene_widget_info"/>
        </receiver>
        <receiver android:name=".widget.WidgetIntentReceiver">
            <!-- Widgets -->
            <intent-filter>
                <action android:name="eu.power_switch.widget_action"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".api.IntentReceiver">
            <!-- Tasker/LLama interface -->
            <intent-filter>
                <action android:name="eu.power_switch.action"/>

                <!-- deprecated -->
                <action android:name="de.ressel.powerswitch.action.Switch.ON"/>
                <action android:name="de.ressel.powerswitch.action.Switch.OFF"/>
                <action android:name="de.ressel.powerswitch.action.Room.ON"/>
                <action android:name="de.ressel.powerswitch.action.Room.OFF"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".nfc.IntentReceiver">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="eu.power_switch"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".timer.alarm.AlarmIntentReceiver">
            <!-- Timer alarms -->
            <intent-filter>
                <action android:name="eu.power_switch.alarm"/>
                <data android:scheme="timer"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="eu.power_switch.alarm_clock.stock.IntentReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- Other Clock Apps -->
            <intent-filter>
                <!-- Stock App -->
                <action android:name="com.android.alarmclock.ALARM_ALERT"/>
                <action android:name="com.android.alarmclock.ALARM_DONE"/>
                <action android:name="com.google.android.deskclock.ALARM_DONE"/>
                <action android:name="com.google.android.deskclock.ALARM_ALERT"/>
                <action android:name="com.android.deskclock.ALARM_ALERT"/>
                <action android:name="com.android.deskclock.ALARM_DISMISS"/>
                <action android:name="com.android.deskclock.ALARM_SNOOZE"/>

                <!-- Samsung -->
                <action android:name="com.samsung.sec.android.clockpackage.alarm.ALARM_ALERT"/>
                <action android:name="com.samsung.sec.android.clockpackage.alarm.ALARM_DONE"/>

                <!-- HTC -->
                <action android:name="com.htc.android.worldclock.ALARM_ALERT"/>
                <action android:name="com.htc.android.worldclock.ALARM_DONE"/>

                <!-- SONY -->
                <action android:name="com.sonyericsson.alarm.ALARM_ALERT"/>
                <action android:name="com.sonyericsson.alarm.ALARM_DONE"/>

                <!-- ZTE -->
                <action android:name="zte.com.cn.alarmclock.ALARM_ALERT"/>

                <!-- Motorola -->
                <action android:name="com.motorola.blur.alarmclock.ALARM_ALERT"/>
                <action android:name="com.motorola.blur.alarmclock.ALARM_DONE"/>

                <!-- LG -->
                <action android:name="com.lge.alarm.alarmclocknew.ALARM_ALERT"/>
                <action android:name="com.lge.clock.ALARM_ALERT"/>
                <action android:name="com.lge.clock.ALARM_DONE"/>

                <!-- Night Clock -->
                <action android:name="com.neddashfox.nightclockdonate.ALARM_ALERT"/>
                <action android:name="com.neddashfox.nightclockdonate.ALARM_DONE"/>

            </intent-filter>
        </receiver>
        <receiver android:name=".alarm_clock.sleep_as_android.IntentReceiver">
            <!-- Sleep As Android -->
            <intent-filter>
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_ALERT_START"/>
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_SNOOZE_CLICKED_ACTION"/>
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_ALERT_DISMISS"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".google_play_services.geofence.GeofenceIntentReceiver">
            <!-- Geofences -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!--
             This is the "fire" BroadcastReceiver. Note that Locale will reject plug-in BroadcastReceivers for the following reasons:
                - The BroadcastReceiver isn't exported (e.g. android:exported="false")
                - The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
                - The BroadcastReceiver requires permissions not available to Locale
                - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.FIRE_SETTING
        -->
        <receiver
            android:name=".api.taskerplugin.FireReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name=".google_play_services.geofence.GeofenceIntentService"/>
        <service android:name=".wear.service.ListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <service android:name=".wear.service.UtilityService">
            <!-- <intent-filter> -->
            <!-- <action android:name="eu.power_switch.wear.UPDATE_DATA"/> -->
            <!-- </intent-filter> -->
        </service>

        <!-- Google Play Services Version Number -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4bVF6jhwXE35xvNLP7LOdpsM5uleCoEs"/>
        <!-- LG Dual Window -->
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true"/>

    </application>

</manifest>